<!--
Ecology workshop

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data organization in spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for data cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Continuation of R: data analysis & visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->

<!--
Genomics workshop
-->

<div class="row">
  <div class="col-md-6">
    <h3>2019-05-01 (Day 1)</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/genomics-workshop/">Genomics Workshop Overview</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.github.io/organization-genomics/">Project organization and management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/shell-genomics/">Introduction to the command line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Data wrangling and processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>2019-05-02 (Day 2)</h3>
    <table class="table table-striped">
	    		<!--
			<tr><td></td><td><a href="https://datacarpentry.org/rr-version-control/01-git-github/index.html">Version Control via Git and Github</a></td></tr>
	                -->
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/rr-version-control/02-git-in-github/index.html">Git in Github</a></td></tr>
	    		<tr><td> </td><td><a href="https://datacarpentry.org/genomics-r-intro/01-introduction/index.html">Introducing R and RStudio IDE</a></td></tr>
			<tr><td> </td><td><a href="https://datacarpentry.org/genomics-r-intro/02-r-basics/index.html">R Basics</a></td></tr>
	    <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/genomics-r-intro/03-basics-factors-dataframes/index.html">R Basics continued - factors and data frames</a></td></tr>
	                <tr><td> </td><td><a href="https://datacarpentry.org/genomics-r-intro/04-dplyr/index.html">Aggregating and Analyzing Data with dplyr</a></td></tr>
	    		<tr><td> </td><td><a href="https://datacarpentry.org/genomics-r-intro/05-data-visualization/index.html">Data Visualization with ggplot2</a></td></tr>
	    
	    
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


<!--
Social science
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.github.io/spreadsheets-socialsci/">Data organization in spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/openrefine-socialsci/">OpenRefine for data cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: data analysis & visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->
